<h1 class="text-center">Additional Amenities</h1>

<%= form_for(@property, :url => wizard_path, :html => {:class => 'plr-20'}) do |f| %>

	<%= error_messages_for(@property) %>

	<div class="form-group">
	  	<%= f.label(:additional_amenities, 'Additional Amenities *') %>
	  	<%= text_field_tag 'additional_amenities[]' %>
	</div>

	<!-- Must pass at least one property field for form to work - Passes property_type selected in previous step and submits again !-->
  	<%= f.hidden_field :propert_type, :value => @property.property_type %>

	<%= button_tag(type: 'submit', class: "btn btn-primary") do %>
	  	Save
	<% end %>

<% end %>