<h1 class="text-center">Amenities</h1>

<%= form_for(@property, :url => wizard_path, :html => {:class => 'plr-20'}) do |f| %>

  <%= error_messages_for(@property) %>

   <div class="form-group">
    <%= f.label(:ac, 'AC *') %>
    <%= f.radio_button(:ac, true) %>
    <%= label_tag(:ac_true, "yes") %>
    <%= f.radio_button(:ac, false) %>
    <%= label_tag(:ac_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:microwave, 'Microwave *') %>
    <%= f.radio_button(:microwave, true) %>
    <%= label_tag(:microwave_true, "yes") %>
    <%= f.radio_button(:microwave, false) %>
    <%= label_tag(:microwave_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:refrigerator, 'Refrigerator *') %>
    <%= f.radio_button(:refrigerator, true) %>
    <%= label_tag(:refrigerator_true, "yes") %>
    <%= f.radio_button(:refrigerator, false) %>
    <%= label_tag(:refrigerator_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:washer_dryer, 'Washer & Dryer *') %>
    <%= f.radio_button(:washer_dryer, true) %>
    <%= label_tag(:washer_dryer_true, "yes") %>
    <%= f.radio_button(:washer_dryer, false) %>
    <%= label_tag(:washer_dryer_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:dishwasher, 'Dishwasher *') %>
    <%= f.radio_button(:dishwasher, true) %>
    <%= label_tag(:dishwasher_true, "yes") %>
    <%= f.radio_button(:dishwasher, false) %>
    <%= label_tag(:dishwasher_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:garbage_disposal, 'Garbage Disposal *') %>
    <%= f.radio_button(:garbage_disposal, true) %>
    <%= label_tag(:garbage_disposal_true, "yes") %>
    <%= f.radio_button(:garbage_disposal, false) %>
    <%= label_tag(:garbage_disposal_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:patio_balcony, 'Patio / Balcony *') %>
    <%= f.radio_button(:patio_balcony, true) %>
    <%= label_tag(:patio_balcony_true, "yes") %>
    <%= f.radio_button(:patio_balcony, false) %>
    <%= label_tag(:patio_balcony_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:walk_in_closets, 'Walk-in Closets *') %>
    <%= f.radio_button(:walk_in_closets, true) %>
    <%= label_tag(:walk_in_closets_true, "yes") %>
    <%= f.radio_button(:walk_in_closets, false) %>
    <%= label_tag(:walk_in_closets_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:locking_room_doors, 'Locking Room Doors *') %>
    <%= f.radio_button(:locking_room_doors, true) %>
    <%= label_tag(:locking_room_doors_true, "yes") %>
    <%= f.radio_button(:locking_room_doors, false) %>
    <%= label_tag(:locking_room_doors_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:storage_space, 'Storage Space *') %>
    <%= f.radio_button(:storage_space, true) %>
    <%= label_tag(:storage_space_true, "yes") %>
    <%= f.radio_button(:storage_space, false) %>
    <%= label_tag(:storage_space_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:furnished, 'Furnished *') %>
    <%= f.radio_button(:furnished, true) %>
    <%= label_tag(:furnished_true, "yes") %>
    <%= f.radio_button(:furnished, false) %>
    <%= label_tag(:furnished_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:ceiling_fans, 'Ceiling Fans *') %>
    <%= f.radio_button(:ceiling_fans, true) %>
    <%= label_tag(:ceiling_fans_true, "yes") %>
    <%= f.radio_button(:ceiling_fans, false) %>
    <%= label_tag(:ceiling_fans_false, "no") %>
  </div>

  <!-- Must pass at least one property field for form to work - Passes property_type selected in previous step and submits again !-->
  <%= f.hidden_field :propert_type, :value => @property.property_type %>

  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    Save
  <% end %>

<% end %>  