<h1 class="text-center">Amenities</h1>

<%= form_for(@property, :url => wizard_path, :html => {:class => 'plr-20'}) do |f| %>

   <div class="form-group">
    <%= f.label(:ac, 'AC *') %>
    <%= f.radio_button(:ac, true) %>
    <%= label_tag(:ac_true, "yes") %>
    <%= f.radio_button(:ac, false) %>
    <%= label_tag(:ac_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:microwave, 'Microwave *') %>
    <%= f.radio_button(:microwave, true) %>
    <%= label_tag(:microwave_true, "yes") %>
    <%= f.radio_button(:microwave, false) %>
    <%= label_tag(:microwave_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:refrigerator, 'Refrigerator *') %>
    <%= f.radio_button(:refrigerator, true) %>
    <%= label_tag(:refrigerator_true, "yes") %>
    <%= f.radio_button(:refrigerator, false) %>
    <%= label_tag(:refrigerator_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:washer_dryer, 'Washer & Dryer *') %>
    <%= f.radio_button(:washer_dryer, true) %>
    <%= label_tag(:washer_dryer_true, "yes") %>
    <%= f.radio_button(:washer_dryer, false) %>
    <%= label_tag(:washer_dryer_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:dishwasher, 'Dishwasher *') %>
    <%= f.radio_button(:dishwasher, true) %>
    <%= label_tag(:dishwasher_true, "yes") %>
    <%= f.radio_button(:dishwasher, false) %>
    <%= label_tag(:dishwasher_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:garbage_disposal, 'Garbage Disposal *') %>
    <%= f.radio_button(:garbage_disposal, true) %>
    <%= label_tag(:garbage_disposal_true, "yes") %>
    <%= f.radio_button(:garbage_disposal, false) %>
    <%= label_tag(:garbage_disposal_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:patio_balcony, 'Patio / Balcony *') %>
    <%= f.radio_button(:patio_balcony, true) %>
    <%= label_tag(:patio_balcony_true, "yes") %>
    <%= f.radio_button(:patio_balcony, false) %>
    <%= label_tag(:patio_balcony_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:walk_in_closets, 'Walk-in Closets *') %>
    <%= f.radio_button(:walk_in_closets, true) %>
    <%= label_tag(:walk_in_closets_true, "yes") %>
    <%= f.radio_button(:walk_in_closets, false) %>
    <%= label_tag(:walk_in_closets_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:locking_room_doors, 'Locking Room Doors *') %>
    <%= f.radio_button(:locking_room_doors, true) %>
    <%= label_tag(:locking_room_doors_true, "yes") %>
    <%= f.radio_button(:locking_room_doors, false) %>
    <%= label_tag(:locking_room_doors_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:storage_space, 'Storage Space *') %>
    <%= f.radio_button(:storage_space, true) %>
    <%= label_tag(:storage_space_true, "yes") %>
    <%= f.radio_button(:storage_space, false) %>
    <%= label_tag(:storage_space_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:furnished, 'Furnished *') %>
    <%= f.radio_button(:furnished, true) %>
    <%= label_tag(:furnished_true, "yes") %>
    <%= f.radio_button(:furnished, false) %>
    <%= label_tag(:furnished_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:ceiling_fans, 'Ceiling Fans *') %>
    <%= f.radio_button(:ceiling_fans, true) %>
    <%= label_tag(:ceiling_fans_true, "yes") %>
    <%= f.radio_button(:ceiling_fans, false) %>
    <%= label_tag(:ceiling_fans_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:laundry_facilities, 'Laundry Facilities *') %>
    <%= f.radio_button(:laundry_facilities, true) %>
    <%= label_tag(:laundry_facilities_true, "yes") %>
    <%= f.radio_button(:laundry_facilities, false) %>
    <%= label_tag(:laundry_facilities_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:computer_lab, 'Computer Lab *') %>
    <%= f.radio_button(:computer_lab, true) %>
    <%= label_tag(:computer_lab_true, "yes") %>
    <%= f.radio_button(:computer_lab, false) %>
    <%= label_tag(:computer_lab_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:fitness_center, 'Fitness Center *') %>
    <%= f.radio_button(:fitness_center, true) %>
    <%= label_tag(:fitness_center_true, "yes") %>
    <%= f.radio_button(:fitness_center, false) %>
    <%= label_tag(:fitness_center_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:lounge, 'Lounge *') %>
    <%= f.radio_button(:lounge, true) %>
    <%= label_tag(:lounge_true, "yes") %>
    <%= f.radio_button(:lounge, false) %>
    <%= label_tag(:lounge_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:controlled_access, 'Controlled Access *') %>
    <%= f.radio_button(:controlled_access, true) %>
    <%= label_tag(:controlled_access_true, "yes") %>
    <%= f.radio_button(:controlled_access, false) %>
    <%= label_tag(:controlled_access_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:swimming_pool, 'Swimming Pool *') %>
    <%= f.radio_button(:swimming_pool, true) %>
    <%= label_tag(:swimming_pool_true, "yes") %>
    <%= f.radio_button(:swimming_pool, false) %>
    <%= label_tag(:swimming_pool_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:on_site_maintenance, 'On-site Maintenance *') %>
    <%= f.radio_button(:on_site_maintenance, true) %>
    <%= label_tag(:on_site_maintenance_true, "yes") %>
    <%= f.radio_button(:on_site_maintenance, false) %>
    <%= label_tag(:on_site_maintenance_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:courtyard, 'Courtyard *') %>
    <%= f.radio_button(:courtyard, true) %>
    <%= label_tag(:courtyard_true, "yes") %>
    <%= f.radio_button(:courtyard, false) %>
    <%= label_tag(:courtyard_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:parking, 'Parking *') %>
    <%= f.radio_button(:parking, true) %>
    <%= label_tag(:parking_true, "yes") %>
    <%= f.radio_button(:parking, false) %>
    <%= label_tag(:parking_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:resident_functions, 'Resident Functions *') %>
    <%= f.radio_button(:resident_functions, true) %>
    <%= label_tag(:resident_functions_true, "yes") %>
    <%= f.radio_button(:resident_functions, false) %>
    <%= label_tag(:resident_functions_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:on_bus_route, 'On Bus Route *') %>
    <%= f.radio_button(:on_bus_route, true) %>
    <%= label_tag(:on_bus_route_true, "yes") %>
    <%= f.radio_button(:on_bus_route, false) %>
    <%= label_tag(:on_bus_route_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:elevator, 'Elevator *') %>
    <%= f.radio_button(:elevator, true) %>
    <%= label_tag(:elevator_true, "yes") %>
    <%= f.radio_button(:elevator, false) %>
    <%= label_tag(:elevator_false, "no") %>
  </div>
  
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    Save
  <% end %>

<% end %>  