<%= form_for(@property, :url => wizard_path, :html => {:class => "plr-20"}) do |f| %>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:bedrooms, 'Bedrooms *') %><br>
        <%= f.select(:bedrooms, 1..10) %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:baths, 'Baths *') %><br>
        <%= f.select(:baths, 1..10) %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:floors, 'Floors *') %><br>
        <%= f.select(:floors, 1..15) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:sqft, 'Sqft') %><br>
        <%= f.text_field(:sqft) %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:facility_name, 'Facility Name') %><br>
        <%= f.text_field(:facility_name) %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:property_manager, 'Property Manager') %><br>
        <%= f.text_field(:property_manager) %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:price, 'Rent *') %><br>
        <%= f.text_field(:price) %> 
        <div id="price-range">
          <%= f.text_field(:price_two, placeholder: 'Max Rent') %>
        </div>
        <!-- Toggle Price Range Option !-->
        <a id="price-range-remove" onclick="hideDiv('price-range'); showDivBlock('price-range-add'); hideDiv('price-range-remove')">remove range</a>
        <a id="price-range-add" onclick="showDivBlock('price-range-remove'); showDiv('price-range'); hideDiv('price-range-add');">add range</a>
        <!-- End Toggle !-->
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:term, 'Term *') %><br>
        <%= f.select(:term_number, 1..24) %>
        <%= f.select(:term, ['year(s)', 'month(s)']) %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group">
        <%= f.label(:availability, 'Currently Available *') %><br>
        <%= f.radio_button(:availability, true, onclick: "hideDiv('date');") %>
        <%= label_tag(:availability_true, "yes") %>
        <%= f.radio_button(:availability, false, onclick: "showDiv('date');") %>
        <%= label_tag(:availability_false, "no") %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div id ="date" class="form-group">
        <%= f.label(:date_available, 'Date Available *') %><br>
        <%= f.date_select(:date_available, {:start_year => Time.now.year, :order => [:month, :day, :year]}) %>
      </div>
    </div>
  </div>
  
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  	Continue
  <% end %>

<% end %>