<!-- Meta !-->
<% 
@page_title = "Student Housing | Bloomington Indiana"
@meta_description = "The most comprehensive Indiana University student housing resource available for Bloomington, Indiana. View pros/cons, landlord contact, tours, amenities, and much more!"
@og_description = "Find your dream student housing property in Bloomington, Indiana and sign a lease today!"
%>
<!-- End Meta !-->

        <!-- Search Bar for google map -->
        <div id="search-bar">
            <ul class="container text-center" id="search-table">
                <div class="row no-margin">
                    <%= render(:partial => "/property/property_search_bar") %>
                </div>
            </ul>
        </div> 

        <!-- Container for google map -->
        <div id="map"></div>
        
        <!-- Search Bar Toggle -->
        <button id="toggle-btn" class="button blue-button" onclick="toggle()">
            <span id="toggle-text"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Refine Search</span>
        </button>
        
        <!-- List View Button -->
        <%= form_for(:property, :url => {:action => 'index', :view => 'list'}) do |f| %>                    
            <%= f.hidden_field :availability, :value => @availability %>
            <%= f.hidden_field :property_type, :value => @type %>
            <%= f.hidden_field :bedrooms, :value => @bedrooms %>
            <%= f.hidden_field :min_price, :value => @min_price %>
            <%= f.hidden_field :max_price, :value => @max_price %>
            <%= button_tag(type: 'submit', class: "button blue-button", :id => "view-btn") do %>
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List View
            <% end %>
        <% end %>

        <!-- Footer Begins !-->
        <%= javascript_include_tag('application-all') %>
             <%= javascript_tag do %>
                var property_type = "<%= @type %>"
                var availability = "<%= @availability %>"
                var bedrooms = "<%= @bedrooms %>"
                var min_price = "<%= @min_price %>"
                var max_price = "<%= @max_price %>"
             <% end %>
        <%= javascript_include_tag('application-properties') %>
        
        <!-- xxx slicknav mobile responsive navbar xxx -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('#menu').slicknav();
            });
        </script>

        <!-- xxx Google Analytics xxx -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-49766018-1', 'mycampusisland.com');ga('send', 'pageview');
        </script>
    </body>
</html>