        <!-- Search Bar for google map -->
        <div id="search-bar">
            <ul class="container text-center" id="search-table">
                <div class="row no-margin">
                    <%= render(:partial => "/property/property_search_bar") %>
                </div>
            </ul>
        </div> 

        <!-- Container for google map -->
        <div id="map"></div>
        
        <!-- Search Bar Toggle -->
        <button id="toggle-btn" class="button blue-button" onclick="toggle()">
            <span id="toggle-text"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span> Refine Search</span>
        </button>
        
        <!-- List View Button -->
        <form action="list.php" method="GET">
            <input type='hidden' name='housing_availability' value="<?php echo $_GET['housing_availability']; ?>" />
            <input type='hidden' name='house_type' value="<?php echo $_GET['house_type']; ?>" />
            <input type='hidden' name='number_bdrms' value="<?php echo $_GET['number_bdrms']; ?>" />
            <input type='hidden' name='min_price' value="<?php echo $_GET['min_price']; ?>" />
            <input type='hidden' name='max_price' value="<?php echo $_GET['max_price']; ?>" />
            <button id="view-btn" class="button blue-button" onclick="submit();">
                <span id="#"><span class="glyphicon glyphicon-th-list" aria-hidden="true"></span> List View</span>
            </button>
         </form>

        <%= javascript_include_tag('application-all') %>
        <% if (params[:controller] == 'dorm') %>
            <%= javascript_include_tag('application-dorms') %>
        <% end %>
        <% if (params[:controller] == 'property') %>
             <%= javascript_tag do %>
                var property_type = "<%= @type %>"
                var availability = "<%= @availability %>"
                var bedrooms = "<%= @bedrooms %>"
                var min_price = "<%= @min_price %>"
                var max_price = "<%= @max_price %>"
             <% end %>
            <%= javascript_include_tag('application-properties') %>
        <% end %>
        
        <!-- xxx slicknav mobile responsive navbar xxx -->
        <script type="text/javascript">
            $(document).ready(function(){
                $('#menu').slicknav();
            });
        </script>

        <!-- xxx Google Analytics xxx -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-49766018-1', 'mycampusisland.com');ga('send', 'pageview');
        </script>
    </body>
</html>
        