<%= form_for(:property, :url => {:action => 'create'}, :html => {:class => 'ptb-50'}) do |f| %>

  <div class="form-group">
    <%= f.label(:property_type, 'Type *') %>
    <%= f.select(:property_type, ['House', 'Apartment', 'Townhome']) %>
  </div>
  <div class="form-group">
    <%= f.label(:address, 'Address *') %>
    <%= f.text_field(:address) %>
  </div>
  <div class="form-group">
    <%= f.label(:bedrooms, 'Bedrooms *') %>
    <%= f.select(:bedrooms, 1..10) %>
  </div>
  <div class="form-group">
    <%= f.label(:baths, 'Baths *') %>
    <%= f.select(:baths, 1..10) %>
  </div>
  <div class="form-group">
    <%= f.label(:price, 'Rent *') %>
    <%= f.text_field(:price) %>
  </div>
  <div class="form-group">
    <%= f.label(:availability, 'Currently Available *') %>
    <%= f.radio_button(:availability, true) %>
    <%= label_tag(:availability_true, "yes") %>
    <%= f.radio_button(:availability, false) %>
    <%= label_tag(:availability_false, "no") %>
  </div>
  <div class="form-group">
    <%= f.label(:floors, 'Floors *') %>
    <%= f.select(:floors, 1..15) %>
  </div>
  <div class="form-group">
    <%= f.label(:term, 'Term *') %>
    <%= f.select(:term, 1..24) %>
    <%= f.select(:term, ['months', 'years']) %>
  </div>
  
  <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
  	Add Property
  <% end %>

<% end %>