<div class="container">
  <%= form_for(@property, :url => {:action => 'create'}, :html => {:class => 'ptb-50'}) do |f| %>

    <%= error_messages_for(@property) %>

    <div class="form-group">
      <%= f.label(:address, 'Address *') %>
      <%= f.text_field(:address) %>
    </div>
    <div class="form-group">
      <%= f.label(:city, 'City *') %>
      <%= f.text_field(:city, :value => "Bloomington") %>
    </div>
    <div class="form-group">
      <%= f.label(:state, 'State *') %>
      <%= f.select :state, options_for_select(us_states, "IN") %>
    </div>
    <div class="form-group">
      <%= f.label(:property_type, 'Type *') %>
      <%= f.select(:property_type, ['House', 'Apartment', 'Townhome'], :prompt => "Select") %>
    </div>
    <div class="form-group">
      <%= f.check_box(:agreement) %>
      <%= f.label(:agreement, 'I am the rightful owner of this property or have been given permission by the owner to post this information on their behalf. I agree that all information provided is accurate to the best of my knowledge and understand that I am subject to ban from the site and further legal action for false information or impersonating the rightful property owner.') %>
    </div>
    
    <%= hidden_field_tag :skip, 'location_step' %>

    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
      Continue
    <% end %>

  <% end %>
</div>