<div class="container">
  <%= form_for(:property, :url => {:action => 'create'}, :html => {:class => 'ptb-50'}) do |f| %>

    <div class="form-group">
      <%= f.label(:property_type, 'Type *') %>
      <%= f.select(:property_type, ['House', 'Apartment', 'Townhome']) %>
    </div>
    <div class="form-group">
      <%= f.label(:address, 'Address *') %>
      <%= f.text_field(:address) %>
    </div>
    <div class="form-group">
      <%= f.label(:bedrooms, 'Bedrooms *') %>
      <%= f.select(:bedrooms, 1..10) %>
    </div>
    <div class="form-group">
      <%= f.label(:baths, 'Baths *') %>
      <%= f.select(:baths, 1..10) %>
    </div>
    <div class="form-group">
      <%= f.label(:price, 'Rent *') %>
      <%= f.text_field(:price) %> 
      <div id="price-range">-
      	<%= f.text_field(:price_two) %>
      </div>
      <!-- Toggle Price Range Option !-->
      <a id="price-range-remove" onclick="hideDiv('price-range'); showDivBlock('price-range-add'); hideDiv('price-range-remove')">remove range</a>
      <a id="price-range-add" onclick="showDivBlock('price-range-remove'); showDiv('price-range'); hideDiv('price-range-add');">add range</a>
      <!-- End Toggle !-->
    </div>
    <div class="form-group">
      <%= f.label(:availability, 'Currently Available *') %>
      <%= f.radio_button(:availability, true, onclick: "hideDiv('date');") %>
      <%= label_tag(:availability_true, "yes") %>
      <%= f.radio_button(:availability, false, onclick: "showDiv('date');") %>
      <%= label_tag(:availability_false, "no") %>
    </div>
    <div id ="date" class="form-group">
      <%= f.label(:date_available, 'Date Available *') %>
      <%= f.date_select(:date_available, {:start_year => Time.now.year, :order => [:month, :day, :year]}) %>
    </div>
    <div class="form-group">
      <%= f.label(:floors, 'Floors *') %>
      <%= f.select(:floors, 1..15) %>
    </div>
    <div class="form-group">
      <%= f.label(:term, 'Term *') %>
      <%= f.select(:term_number, 1..24) %>
      <%= f.select(:term, ['year(s)', 'month(s)']) %>
    </div>
    <div class="form-group">
      <%= f.label(:sqft, 'Sqft') %>
      <%= f.text_field(:sqft) %>
    </div>
    <div class="form-group">
      <%= f.label(:description, 'Description') %>
      <%= f.text_area(:description, :size => "50x5") %>
    </div>
    <div class="form-group">
      <%= f.label(:facility_name, 'Facility Name') %>
      <%= f.text_field(:facility_name) %>
    </div>
    <div class="form-group">
      <%= f.label(:property_manager, 'Property Manager') %>
      <%= f.text_field(:property_manager) %>
    </div>
    <div class="form-group">
      <%= f.label(:office_address, 'Office Address') %>
      <%= f.text_field(:office_address) %>
    </div>
    <div class="form-group">
      <%= f.label(:phone, 'Phone *') %>
      <%= f.text_field(:phone) %>
    </div>
    <div class="form-group">
      <%= f.label(:email, 'Email *') %>
      <%= f.text_field(:email) %>
    </div>
    <div class="form-group">
      <%= f.label(:website, 'Website *') %>
      <%= f.text_field(:website) %>
    </div>
    <div class="form-group">
      <%= f.label(:facebook, 'Facebook *') %>
      <%= f.text_field(:facebook) %>
    </div>
    <div class="form-group">
      <%= f.label(:ac, 'AC *') %>
      <%= f.radio_button(:ac, true) %>
      <%= label_tag(:ac_true, "yes") %>
      <%= f.radio_button(:ac, false) %>
      <%= label_tag(:ac_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:microwave, 'Microwave *') %>
      <%= f.radio_button(:microwave, true) %>
      <%= label_tag(:microwave_true, "yes") %>
      <%= f.radio_button(:microwave, false) %>
      <%= label_tag(:microwave_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:refrigerator, 'Refrigerator *') %>
      <%= f.radio_button(:refrigerator, true) %>
      <%= label_tag(:refrigerator_true, "yes") %>
      <%= f.radio_button(:refrigerator, false) %>
      <%= label_tag(:refrigerator_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:washer_dryer, 'Washer & Dryer *') %>
      <%= f.radio_button(:washer_dryer, true) %>
      <%= label_tag(:washer_dryer_true, "yes") %>
      <%= f.radio_button(:washer_dryer, false) %>
      <%= label_tag(:washer_dryer_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:dishwasher, 'Dishwasher *') %>
      <%= f.radio_button(:dishwasher, true) %>
      <%= label_tag(:dishwasher_true, "yes") %>
      <%= f.radio_button(:dishwasher, false) %>
      <%= label_tag(:dishwasher_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:garbage_disposal, 'Garbage Disposal *') %>
      <%= f.radio_button(:garbage_disposal, true) %>
      <%= label_tag(:garbage_disposal_true, "yes") %>
      <%= f.radio_button(:garbage_disposal, false) %>
      <%= label_tag(:garbage_disposal_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:patio_balcony, 'Patio / Balcony *') %>
      <%= f.radio_button(:patio_balcony, true) %>
      <%= label_tag(:patio_balcony_true, "yes") %>
      <%= f.radio_button(:patio_balcony, false) %>
      <%= label_tag(:patio_balcony_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:walk_in_closets, 'Walk-in Closets *') %>
      <%= f.radio_button(:walk_in_closets, true) %>
      <%= label_tag(:walk_in_closets_true, "yes") %>
      <%= f.radio_button(:walk_in_closets, false) %>
      <%= label_tag(:walk_in_closets_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:locking_room_doors, 'Locking Room Doors *') %>
      <%= f.radio_button(:locking_room_doors, true) %>
      <%= label_tag(:locking_room_doors_true, "yes") %>
      <%= f.radio_button(:locking_room_doors, false) %>
      <%= label_tag(:locking_room_doors_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:storage_space, 'Storage Space *') %>
      <%= f.radio_button(:storage_space, true) %>
      <%= label_tag(:storage_space_true, "yes") %>
      <%= f.radio_button(:storage_space, false) %>
      <%= label_tag(:storage_space_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:furnished, 'Furnished *') %>
      <%= f.radio_button(:furnished, true) %>
      <%= label_tag(:furnished_true, "yes") %>
      <%= f.radio_button(:furnished, false) %>
      <%= label_tag(:furnished_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:ceiling_fans, 'Ceiling Fans *') %>
      <%= f.radio_button(:ceiling_fans, true) %>
      <%= label_tag(:ceiling_fans_true, "yes") %>
      <%= f.radio_button(:ceiling_fans, false) %>
      <%= label_tag(:ceiling_fans_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:electric_gas, 'Electric / Gas *') %>
      <%= f.radio_button(:electric_gas, true) %>
      <%= label_tag(:electric_gas_true, "yes") %>
      <%= f.radio_button(:electric_gas, false) %>
      <%= label_tag(:electric_gas_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:trash, 'Trash *') %>
      <%= f.radio_button(:trash, true) %>
      <%= label_tag(:trash_true, "yes") %>
      <%= f.radio_button(:trash, false) %>
      <%= label_tag(:trash_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:water, 'Water *') %>
      <%= f.radio_button(:water, true) %>
      <%= label_tag(:water_true, "yes") %>
      <%= f.radio_button(:water, false) %>
      <%= label_tag(:water_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:cable, 'Cable *') %>
      <%= f.radio_button(:cable, true) %>
      <%= label_tag(:cable_true, "yes") %>
      <%= f.radio_button(:cable, false) %>
      <%= label_tag(:cable_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:internet, 'Internet *') %>
      <%= f.radio_button(:internet, true) %>
      <%= label_tag(:internet_true, "yes") %>
      <%= f.radio_button(:internet, false) %>
      <%= label_tag(:internet_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:dogs_allowed, 'Dogs Allowed *') %>
      <%= f.radio_button(:dogs_allowed, true) %>
      <%= label_tag(:dogs_allowed_true, "yes") %>
      <%= f.radio_button(:dogs_allowed, false) %>
      <%= label_tag(:dogs_allowed_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:cats_allowed, 'Cats Allowed *') %>
      <%= f.radio_button(:cats_allowed, true) %>
      <%= label_tag(:cats_allowed_true, "yes") %>
      <%= f.radio_button(:cats_allowed, false) %>
      <%= label_tag(:cats_allowed_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:other_pets_allowed, 'Other Pets Allowed *') %>
      <%= f.radio_button(:other_pets_allowed, true) %>
      <%= label_tag(:other_pets_allowed_true, "yes") %>
      <%= f.radio_button(:other_pets_allowed, false) %>
      <%= label_tag(:other_pets_allowed_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:laundry_facilities, 'Laundry Facilities *') %>
      <%= f.radio_button(:laundry_facilities, true) %>
      <%= label_tag(:laundry_facilities_true, "yes") %>
      <%= f.radio_button(:laundry_facilities, false) %>
      <%= label_tag(:laundry_facilities_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:computer_lab, 'Computer Lab *') %>
      <%= f.radio_button(:computer_lab, true) %>
      <%= label_tag(:computer_lab_true, "yes") %>
      <%= f.radio_button(:computer_lab, false) %>
      <%= label_tag(:computer_lab_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:fitness_center, 'Fitness Center *') %>
      <%= f.radio_button(:fitness_center, true) %>
      <%= label_tag(:fitness_center_true, "yes") %>
      <%= f.radio_button(:fitness_center, false) %>
      <%= label_tag(:fitness_center_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:lounge, 'Lounge *') %>
      <%= f.radio_button(:lounge, true) %>
      <%= label_tag(:lounge_true, "yes") %>
      <%= f.radio_button(:lounge, false) %>
      <%= label_tag(:lounge_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:controlled_access, 'Controlled Access *') %>
      <%= f.radio_button(:controlled_access, true) %>
      <%= label_tag(:controlled_access_true, "yes") %>
      <%= f.radio_button(:controlled_access, false) %>
      <%= label_tag(:controlled_access_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:swimming_pool, 'Swimming Pool *') %>
      <%= f.radio_button(:swimming_pool, true) %>
      <%= label_tag(:swimming_pool_true, "yes") %>
      <%= f.radio_button(:swimming_pool, false) %>
      <%= label_tag(:swimming_pool_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:on_site_maintenance, 'On-site Maintenance *') %>
      <%= f.radio_button(:on_site_maintenance, true) %>
      <%= label_tag(:on_site_maintenance_true, "yes") %>
      <%= f.radio_button(:on_site_maintenance, false) %>
      <%= label_tag(:on_site_maintenance_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:courtyard, 'Courtyard *') %>
      <%= f.radio_button(:courtyard, true) %>
      <%= label_tag(:courtyard_true, "yes") %>
      <%= f.radio_button(:courtyard, false) %>
      <%= label_tag(:courtyard_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:parking, 'Parking *') %>
      <%= f.radio_button(:parking, true) %>
      <%= label_tag(:parking_true, "yes") %>
      <%= f.radio_button(:parking, false) %>
      <%= label_tag(:parking_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:resident_functions, 'Resident Functions *') %>
      <%= f.radio_button(:resident_functions, true) %>
      <%= label_tag(:resident_functions_true, "yes") %>
      <%= f.radio_button(:resident_functions, false) %>
      <%= label_tag(:resident_functions_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:on_bus_route, 'On Bus Route *') %>
      <%= f.radio_button(:on_bus_route, true) %>
      <%= label_tag(:on_bus_route_true, "yes") %>
      <%= f.radio_button(:on_bus_route, false) %>
      <%= label_tag(:on_bus_route_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:elevator, 'Elevator *') %>
      <%= f.radio_button(:elevator, true) %>
      <%= label_tag(:elevator_true, "yes") %>
      <%= f.radio_button(:elevator, false) %>
      <%= label_tag(:elevator_false, "no") %>
    </div>
    <div class="form-group">
      <%= f.label(:additional_amenities, 'Additional Amenities *') %>
      <%= f.radio_button(:additional_amenities, true) %>
      <%= label_tag(:additonal_amenities_true, "yes") %>
      <%= f.radio_button(:additional_amenities, false) %>
      <%= label_tag(:additional_amenites_false, "no") %>
    </div>
    
    <%= button_tag(type: 'submit', class: "btn btn-primary") do %>
    	Add Property
    <% end %>

  <% end %>
</div>