<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title><%= @page_title %></title>
        <% if @meta_description.nil? == false %>
            <%= '<meta name="description" content="'.html_safe + @meta_description + '">'.html_safe %>
        <% end %>  
        <meta property="og:description" content=<%= @og_description %> />
        <meta property="og:image" content="http://mycampusisland.com/img/moving-couch.jpg" />        
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<%= favicon_link_tag 'favicon.ico' %>

		<link href='http://fonts.googleapis.com/css?family=Archivo+Narrow:400,400italic,700' rel='stylesheet' type='text/css'>
        <%= stylesheet_link_tag('application', :media => 'all') %>

        <!-- xxx Google Maps - JS API xxx -->
        <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <!-- xxx Share This Buttons (Social Media Share) xxx -->
        <script type="text/javascript">var switchTo5x=true;</script>
        <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
        <script type="text/javascript">stLight.options({publisher: "9aa9f18f-1bd3-4e9d-a7d6-4529777ac776", doNotHash: true, doNotCopy: false, hashAddressBar: false});</script>
    </head>
    <body>
    	<!--[if lte IE 7]><script src="js/ie6/warning.js"></script><script>window.onload=function(){e("js/ie6/")}</script><![endif]-->
        <nav id="main-nav">
        	<div class="container">
        		<div id="logo">
                    <%= image_tag('mci-logo.png', :alt => 'MyCampus Island logo') %>
                    <p class="text-center" id="logo-text">The Collegiate Reference For Housing</p></div>
                    <ul id="menu">
                        <li><%= link_to('Home', {:controller => 'application', :action => 'index'}) %></li>
                        <li><%= link_to('Housing Search', {:controller => 'application', :action => 'housing-search'}) %></li>
                        <li><%= link_to('Dorms', {:controller => 'dorm', :action => 'index'}) %></li>
                        <li><%= link_to('Landlords', {:controller => 'application', :action => 'landlords'}) %></li>
                    </ul>
                </div>
            </div>
        </nav>