<div id="contact-page">
    <section class="container">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center">
            <h1><i>Contact Us</i></h1>
            <hr>
            <%= form_tag "/property/contact" do %>
    
                <%= text_field_tag :first_name %>
                <%= text_field_tag :last_name %>
                <%= text_field_tag :email %>
                <%= text_field_tag :message %>
                <%= submit_tag "Save" %>

            <% end %>
        </div>          
    </section>
</div>
