<%= render(:partial => "/profile/delete_property_modal") %>

<% if (params[:action] == 'delete') %>
	<script>
		$(document).ready(function(){
			$("#delete-property-modal").modal("show");
		});
	</script>
<% end %>

<div class="container">
	<h1 class="text-center">Property Management</h1>
	<div class="text-center"><%= link_to('Add New Property', {:controller => 'property', :action => 'new'}, :class => 'button blue-button mb-20') %></div>
	
	<% @properties.each do |property| %>
		<div class="row ptb-10">
			<div class="col-xs-3">
				<img src="http://placehold.it/200x150">
			</div>
			<div class="col-xs-3">
				<%= property_name(property.facility_name, property.address) %>
			</div>
			<div class="col-xs-2">
				<%= availability(property.availability, property.date_available) %>
			</div>
			<div class="col-xs-2">
				<%= property_upload_status(property, property.approved) %>
			</div>
			<div class="col-xs-2">
				<%= link_to('Edit', property_upload_steps_path(:property_id => property.id, :skip => @skip), :class => 'button blue-button') %>
				<%= link_to('Delete', {:action => 'delete', :id => property.id}, :class => 'button blue-button') %>
				<% if property.approved == true %>
					<div><%= link_to('View live page on site', {:controller => 'property', :action => 'show', :id => property.id}, :style => 'color:blue') %></div>
				<% end %>
			</div>
		</div>
	<% end %>

</div>