<%= render(:partial => "/application/header") %>

<div id="property-upload-page">
  <div class="container-fluid">
    <div class="row of-hidden">
    
      <div class="col-sm-3 property-upload-sidebar">
        <ul>
          <li class="text-center sidebar-active"><b><%= @property.address %></b></li>
          <%= link_to '<li class='.html_safe + active_step(:location) + '><i class="fa fa-location-arrow"></i> Location</li>'.html_safe, wizard_path(:location) %>
          <%= link_to '<li class='.html_safe + active_step(:basic_info) + '><span class="glyphicon glyphicon-info-sign"></span> Basic Info</li>'.html_safe, wizard_path(:basic_info) %>
          <%= link_to '<li class='.html_safe + active_step(:contact_info) + '><span class="glyphicon glyphicon-phone"></span> Contact Info</li>'.html_safe, wizard_path(:contact_info) %>
          <%= link_to '<li class='.html_safe + active_step(:description) + '><span class="glyphicon glyphicon-pencil"></span> Description</li>'.html_safe, wizard_path(:description) %>
          <%= link_to '<li class='.html_safe + active_step(:amenities) + '><span class="glyphicon glyphicon-ok"></span> Amenities</li>'.html_safe, wizard_path(:amenities) %>
          <%= link_to '<li class='.html_safe + active_step(:additional_amenities) + '><span class="glyphicon glyphicon-check"></span> Additional Amenities</li>'.html_safe, wizard_path(:additional_amenities) %>
          <%= link_to '<li class='.html_safe + active_step(:utilities) + '><i class="fa fa-power-off"></i> Utilities / Pets</li>'.html_safe, wizard_path(:utilities) %>
          <%= link_to '<li class='.html_safe + active_step(:submit) + '>Submit</li>'.html_safe, wizard_path(:submit) %>
        </ul>
      </div>

      <div class="col-sm-9 pt-20 pb-50">

				<%= yield %>

			</div>
    </div>
  </div>
</div>

<%= render :partial => "/application/footer" %>
